*{
    box-sizing: border-box;
    padding: 0;
}


header{
    margin: 0 80px;
}

a{
    text-decoration: none;
    color: #737373;
    cursor: pointer;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation_list li{
    color: #737373;
    font-weight: 500;
}

.btn_wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.register_btn{
    width: 214px;
    height:42px;
    background-color: #23A6F0;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight:600;
    font-size: 14px;
}

.login_text{
    color: #23A6F0;
    font-weight: 600;
    font-size: 14px;
}

.hero_title{
    font-weight: 600;
    font-size: 50px;
    width: 573px;
    margin: 0;
}

.sub_title{
    color: #737373;
    font-weight: 500;
    font-size: 16px;
}

.btn{
    height:42px;
    width: 132px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 37px;
    border: 0;
}

.quote{
    background-color: #23A6F0;
    color: white;
}

.learn{
    background-color: transparent;
    color: #23A6F0;
    border: 1px solid #23A6F0;
    
}

.hero_section{
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.hero_section img{
    max-width: 100%;
}

.card{
    width: 100%;
    padding: 20px;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 175px;
}


.card_header{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}


.card_text{
    font-weight: 700;
    font-size: 18px;
}

.card_header img{
    height: 48px;
}

.card_body p{
    font-size: 18px;
    color: #737373;
    font-weight: 500;
}

.hero_footer{
    display: flex;
  gap: 10px;
}

.primary{
    background-color: #23A6F0;
    color: white;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.primary .card_body p{
    color: white;
}

.strategy_section{
    margin: 120px 0px 0px 0px;
}

.strategy_title{
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.strategy_text{
    text-align: center;
    font-size: 14px;
    color: #737373;
}

.strategy_bg{
    height: 398px;
    background: linear-gradient(to right, #004788, #D71489);
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.strategy_bg img{
    max-width: 100%;
    height: 442px;
    margin-bottom: 90px;

}

.clients_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.clients_header{
    text-align: center;
    font-size: 32px;
}

.clients_text{
    text-align: center;
    font-size: 14px;
    color: #737373;
}

.designers_box{
    background-color: white;
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 40px;
    border: 1px;
    width: 500px;
    padding: 30px 0;
    border: 1px solid #fafafa;
}
.designers_image{
    text-align: center;
}

.designers_text{
    text-align: center;
    font-size: 14px;
}

.stars_img{
    text-align: center;
}

.designers_name{
    text-align: center;

}

.designers_footer{
    text-align: center;
    font-size: 14px;
    color: #737373;
}

.about_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px;
}
.about_details{
    text-align: center;
    margin-top: 120px;
    
}

.about_header{
    text-align: center;
}

.about_text{
    text-align: center;
    color: #737373;
}

.about_image{
        display: flex;
        align-items: center;
        gap: 80px;
        margin-top: 80px;

}


.about_image img{
    height: 370px;
}


.about_img_text_wrapper{
    width: 327px;
}

.image_subheader{
    font-size: 25px;
}

.image_paragraph{
    font-size: 14px;
    color: #737373;
}

.image_name{
    font-size: 14px;
    color: #737373;
}


.pricing_section{
    margin-top: 200px;
}
.pricing_header{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.pricing_text{
    font-size: 14px;
    color: #737373;
    text-align: center;
}

.pricing_image {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    justify-content: center;
}

.consulting_section {
    display: flex;
    /* justify-content: space-around; */
    padding: 12px 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
}

.consulting_btn{
    background-color: #23A6F0;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    width: 160px;
    height: 52px;
    display: block;
    font-weight: 600;
}

.consulting_text{
    color: #737373;
}

.information_section{
    margin: 40px 80px 0;
    display: flex;
    justify-content: space-between;
}



.information_section ul{
    list-style: none;
    color: #737373;
}

.information_section h1{
    margin: 0;
}

.information_section li{
    margin: 5px;
}

.get_text{
    color: #737373;
}

.appointment_section{
    background-image: url("./images/background.jpg");
    height: 600px;
    background-position: center;
    padding: 20px 80px;
    margin: 90px 0 0px 0;
}


.names_input_container{
    /* display: flex; */
    gap: 7px;
    margin-bottom: 40px;
}


.fullname_input{
    width: 296px;
    height: 50px;
    padding: 10px;
    background-color: #f9f9f9;
    border:  1px solid #e6e6e6;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px;
}

.text-area-input{
    width: 610px;
    height: 120px;
    background-color: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        resize: none;
        margin-bottom: 40px;
}
